* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.grid-container {
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 120px auto 100px;
  grid-template-areas: header header main main footer footer; }

.encabezado {
  display: grid;
  grid-area: header; }

.contenido {
  display: grid;
  grid-area: main; }

.pie {
  display: grid;
  grid-area: footer; }

body {
  background-color: black;
  font-family: sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  font-family: 'Arimo', sans-serif;
  margin: 1rem; }

header {
  background-image: url(../img/fondo.png);
  border-radius: 10px;
  margin: 25px;
  padding-right: 70px;
  padding-left: 50px;
  padding: 2rem;
  margin-bottom: 5rem; }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 90%; }
    header nav a img {
      width: 140px;
      background-color: #302303;
      margin: 1rem;
      padding: 0.5rem; }
    header nav ul {
      background-color: #302303;
      margin: 1rem;
      padding: 0.5rem; }
      header nav ul li {
        list-style: none; }
        header nav ul li a {
          text-decoration: none;
          text-transform: uppercase;
          color: white; }
          header nav ul li a:hover {
            color: #6452AC; }

.contenido {
  color: aliceblue; }
  .contenido .about {
    width: 100%; }
    .contenido .about p {
      font-size: 5rem;
      padding: 2rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      height: 100%; }
  .contenido .catalogo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 5rem;
    padding-bottom: 5rem; }
    .contenido .catalogo .tarjeta {
      background-color: aliceblue;
      margin: 22px;
      width: 430px;
      height: 430px;
      border-radius: 60%;
      box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      margin: 20px;
      position: relative;
      display: inline-block;
      text-align: center;
      transition-property: border-radius;
      transition-duration: 2s; }
      .contenido .catalogo .tarjeta:hover {
        border-radius: 30%; }
      .contenido .catalogo .tarjeta .servicio {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: xx-large;
        color: white;
        text-transform: lowercase;
        text-decoration-line: overline; }
      .contenido .catalogo .tarjeta a .ver-mas {
        position: absolute;
        top: 70%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: medium;
        color: white;
        text-transform: lowercase; }
        .contenido .catalogo .tarjeta a .ver-mas:hover {
          font-weight: bolder; }
  .contenido .detalle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .contenido .detalle .div-detalle {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 90%;
      height: 90vh;
      text-align: center;
      border: 4px solid aliceblue;
      margin: 10px; }
      .contenido .detalle .div-detalle a {
        text-decoration: underline;
        text-decoration-color: tomato; }
        .contenido .detalle .div-detalle a:hover {
          text-decoration-color: white; }
        .contenido .detalle .div-detalle a h1 {
          font-size: 3.5rem;
          color: white;
          text-transform: lowercase;
          padding: 2rem;
          padding-bottom: 0; }
          .contenido .detalle .div-detalle a h1:hover {
            color: tomato; }
      .contenido .detalle .div-detalle p {
        font-size: 1.2rem;
        color: white;
        padding: 2rem;
        padding-top: 3rem;
        padding-bottom: 3rem;
        text-align: justify; }
        .contenido .detalle .div-detalle p::first-line {
          font-weight: bolder; }

footer {
  display: grid;
  grid-area: footer;
  margin: 2rem; }
  footer .foot {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    footer .foot a .bi-arrow-up-circle-fill {
      color: white;
      margin: 2rem;
      margin-bottom: 1rem;
      font-size: xx-large;
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 1px;
      right: 1200px;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      z-index: 100; }
    footer .foot .float {
      position: fixed;
      width: 60px;
      height: 60px;
      bottom: 40px;
      right: 40px;
      border-radius: 50px;
      text-align: center;
      font-size: 30px;
      z-index: 100; }
      footer .foot .float img {
        width: 70px; }
        footer .foot .float img:hover {
          opacity: 0.5; }

.main-views {
  display: flex;
  flex-direction: column; }
  .main-views .contenedorServicios {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 1rem; }
    .main-views .contenedorServicios .tarjetaServicioContainer {
      padding: 1.5rem;
      overflow: hidden;
      position: relative; }
  .main-views .contenedorDetalle {
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .main-views .contenedorDetalle .detalleServicio {
      display: flex;
      margin: 2rem;
      background-color: #302303;
      border-radius: 10%; }
      .main-views .contenedorDetalle .detalleServicio img {
        width: 500px; }
      .main-views .contenedorDetalle .detalleServicio .div-detalle {
        max-height: 100%; }
        .main-views .contenedorDetalle .detalleServicio .div-detalle h1 {
          font-size: 3rem;
          color: white;
          padding: 2rem;
          padding-top: 4rem;
          text-align: center;
          text-transform: lowercase;
          font-weight: bold; }
        .main-views .contenedorDetalle .detalleServicio .div-detalle p {
          color: white;
          padding: 3rem;
          padding-top: 2rem;
          line-height: 2rem;
          text-transform: uppercase;
          text-align: justify; }
        .main-views .contenedorDetalle .detalleServicio .div-detalle ul {
          list-style: none;
          padding: 3rem; }
          .main-views .contenedorDetalle .detalleServicio .div-detalle ul li a {
            font-size: larger; }
            .main-views .contenedorDetalle .detalleServicio .div-detalle ul li a:hover {
              color: #f7b2c1; }

.main-form .form {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f7b2c1;
  margin: 3rem;
  margin-top: 0;
  margin-bottom: 4rem;
  width: 92%; }
  .main-form .form .consulta {
    display: flex;
    flex: row;
    justify-content: center;
    padding: 2rem;
    margin: 3rem;
    font-weight: bold;
    border: 2px solid black; }
    .main-form .form .consulta input {
      width: 75vh;
      background-color: #f7b2c1;
      margin: 1rem;
      margin-top: 3rem;
      border: 2px solid black;
      box-shadow: 9px 9px 0px 0px #6452AC;
      -webkit-box-shadow: 9px 9px 0px 0px #6452AC;
      -moz-box-shadow: 9px 9px 0px 0px #6452AC;
      border-radius: 0; }
    .main-form .form .consulta .clic {
      margin-left: 2rem;
      margin-top: 2rem;
      width: 20vh;
      box-shadow: none; }
    .main-form .form .consulta .dejanos {
      width: 74vh;
      background-color: #f7b2c1;
      padding: 6rem;
      border: 2px solid black;
      box-shadow: 21px 23px 0px 3px #6452AC;
      -webkit-box-shadow: 21px 23px 0px 3px #6452AC;
      -moz-box-shadow: 21px 23px 0px 3px #6452AC; }

.main-clientes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 3rem;
  background-image: url(/img/fondo.png); }
  .main-clientes .div-clientes {
    background-color: #e8e5f198;
    width: 35%;
    margin: 3rem;
    border-radius: 10%; }
    .main-clientes .div-clientes a {
      text-decoration: none; }
      .main-clientes .div-clientes a h1 {
        color: #6452AC;
        text-align: center;
        padding: 1rem; }
        .main-clientes .div-clientes a h1:hover {
          color: tomato; }
    .main-clientes .div-clientes p {
      text-align: justify;
      font-size: large;
      padding: 2rem;
      padding-top: 0; }
    .main-clientes .div-clientes a .ver-mas {
      margin: 1rem;
      display: flex;
      justify-content: center;
      color: #302303; }
      .main-clientes .div-clientes a .ver-mas:hover {
        color: #6452AC; }

.contenido .detalle .div-detalle-servicios {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  text-align: center;
  border: 4px solid aliceblue;
  margin: 10px; }
  .contenido .detalle .div-detalle-servicios .serviciopages {
    font-size: 3.5rem;
    color: white;
    text-transform: lowercase;
    padding: 2rem;
    padding-bottom: 0;
    letter-spacing: 10px;
    width: 90%; }
  .contenido .detalle .div-detalle-servicios p {
    width: 90%;
    text-align: justify;
    font-size: 1.2rem;
    color: white;
    padding: 2rem;
    padding-top: 3rem;
    padding-bottom: 3rem; }
  .contenido .detalle .div-detalle-servicios .subtitulo {
    text-decoration: overline;
    text-decoration-color: white;
    width: 90%; }
  .contenido .detalle .div-detalle-servicios .testimonio {
    width: 65%;
    padding-top: 1rem; }
    .contenido .detalle .div-detalle-servicios .testimonio ::first-line {
      font-weight: bolder;
      color: white; }

@media screen and (max-width: 1075px) {
  .contenido .about p {
    font-size: 3rem; }
  .contenido .detalle .div-detalle a h1 {
    font-size: 3rem; }
  .main-views .contenedorDetalle .detalleServicio {
    border-radius: 0; }
  .main-views .contenedorDetalle .detalleServicio img {
    display: none; }
  .main-views .contenedorDetalle .detalleServicio .div-detalle h1 {
    padding-top: 2rem;
    padding-bottom: 1rem; }
  .main-views .contenedorDetalle .detalleServicio .div-detalle p {
    padding-top: 1rem;
    padding-bottom: 1rem; }
  .main-form .form .consulta {
    flex-direction: column; }
  .main-form .form .consulta input {
    width: 90%; }
  .main-form .form .consulta .dejanos {
    width: 90%; } }

@media screen and (max-width: 900px) {
  .main-views .contenedorDetalle .detalleServicio .div-detalle h1 {
    padding: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem; }
  .main-views .contenedorDetalle .detalleServicio .div-detalle p {
    padding: 2rem;
    padding-top: 1rem;
    padding-bottom: 0.5rem; }
  .main-views .contenedorDetalle {
    margin-top: 3rem; }
  .main-form .form .consulta {
    margin: 2rem; } }

.contenido .detalle .div-detalle {
  height: none; }

@media screen and (max-width: 800px) {
  .contenido .detalle .div-detalle a h1 {
    font-size: 2rem; }
  .contenido .detalle .div-detalle p {
    font-size: 1rem; }
  .main-form .form .consulta input {
    width: 80%; }
  .main-form .form .consulta .dejanos {
    width: 80%; } }

@media screen and (max-width: 750px) {
  .contenido .detalle .div-detalle a h1 {
    font-size: 2rem; }
  .contenido .detalle .div-detalle p {
    font-size: 1rem; }
  .main-form .form .consulta .dejanos {
    padding: 2rem; }
  .main-form .form {
    margin: 0;
    width: 100%; }
  .contenido .detalle .div-detalle {
    height: auto; }
  .contenido .detalle .div-detalle-servicios .serviciopages {
    padding: 0;
    font-size: 2.5rem; }
  .contenido .detalle .div-detalle-servicios .testimonio {
    width: 90%; } }

@media screen and (max-width: 500px) {
  header nav {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .main-views .contenedorDetalle {
    width: 100%; }
  .main-views .contenedorDetalle .detalleServicio {
    width: 100%;
    padding-bottom: 0;
    margin-bottom: 1rem; }
  .main-views .contenedorServicios .tarjetaServicioContainer .tarjetaServicio img {
    width: 100%; }
  .main-views .contenedorDetalle .detalleServicio .div-detalle h1 {
    font-size: x-large;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem; }
  .main-views .contenedorDetalle .detalleServicio .div-detalle p {
    line-height: 1rem;
    padding-bottom: 0;
    margin-bottom: 0; }
  .contenido {
    margin: 0;
    padding: 0; }
  .contenido .detalle {
    padding-bottom: 2rem; }
  .contenido .detalle .div-detalle a h1 {
    padding: 1rem; }
  .contenido .detalle .div-detalle p {
    padding: 1rem;
    padding-top: 0;
    line-height: 1.2; }
  .contenido .catalogo .tarjeta {
    width: 330px;
    height: 330px; }
  .contenido .catalogo .tarjeta a .ver-mas {
    position: absolute;
    top: 80%;
    left: 50%; }
  .contenido .about p {
    line-height: 1.2; }
  .main-form .form .consulta input {
    font-size: small; }
  .main-form .form .consulta .dejanos {
    padding: 1rem;
    font-size: small; }
  .contenido .detalle .div-detalle-servicios .serviciopages {
    font-size: 2rem; } }

@media screen and (max-width: 290px) {
  .contenido {
    margin: 0;
    padding: 0; }
  .main-views .contenedorDetalle {
    width: 90%; }
  .main-views .contenedorDetalle .detalleServicio {
    width: 90%;
    margin-bottom: 1rem; }
  .contenido .catalogo .tarjeta {
    width: 280px;
    height: 280px; } }
