@import"../base/variables";
.main-views {
    .contenedorServicios {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        width: 90%;
        margin: 2rem;
        margin-top: 5rem;
        margin-left: 4rem;
        .tarjetaServicioContainer {
            padding: 1.5rem;
            overflow: hidden;
            position: relative;
            .tarjetaServicio {
                a {
                }
                img {
                }
            }
        }
    }
    .contenedorDetalle {
        margin-top: 7rem;
        .detalleServicio {
            display: flex;
            margin: 2rem;
            background-color:nth($colores, 1);
            border-radius: 10%;
            img {
                width: 500px;
            }
            .div-detalle {
                max-height: 100%;
                a{
                }
                h1 {
                    font-size: 3rem;
                    color:nth($colores, 3);
                    padding: 2rem;
                    padding-top: 4rem;
                    text-align: center;
                    text-transform: lowercase;
                    font-weight: bold;
                }
                p {
                    color:nth($colores, 3);
                    padding: 3rem;
                    padding-top: 2rem;
                    line-height: 2rem;
                    text-transform: uppercase;
                    text-align: justify;
                }
                ul {
                    list-style: none;
                    padding: 3rem;
                    li {
                        a { font-size: larger;
                            &:hover {
                                color: nth($colores, 5);
                            }
                            i {
                            }
                        }
                    }
                }
            }
        }
    }
}
.main-form {
    .form {
        @include flex (flex,row,center,center)
        background-color:nth($colores, 5);
        margin-top: 3rem;
        .consulta {
            display: flex;
            flex: row;
            justify-content: space-between;
            width: 90%;
            padding: 2rem;
            margin: 3rem;
            font-weight: bold;
            border: 2px solid black;
            input {
                width: 75vh;
                background-color: nth($colores, 5);
                margin: 1rem;
                margin-top: 3rem;
                border: 2px solid black;
                box-shadow: 9px 9px 0px 0px #6452AC;
                -webkit-box-shadow: 9px 9px 0px 0px #6452AC;
                -moz-box-shadow: 9px 9px 0px 0px #6452AC;
                border-radius: 0;
            }
            .clic {
                margin-left: 2rem;
                margin-top: 2rem;
                width: 20vh;
                box-shadow: none;
            }
            .dejanos {
                width: 74vh;
                background-color: nth($colores, 5);
                padding: 6rem;
                border: 2px solid black;
                box-shadow: 21px 23px 0px 3px #6452AC;
                -webkit-box-shadow: 21px 23px 0px 3px #6452AC;
                -moz-box-shadow: 21px 23px 0px 3px #6452AC;
            }
        }
    }
}