@media screen and (max-width: 1075px) {
    .contenido .about p {
        font-size: 3rem;
    }
    .contenido .detalle .div-detalle a h1 {
        font-size: 3rem;
    }
    .main-views .contenedorDetalle .detalleServicio {
        border-radius: 0;
    }
    .main-views .contenedorDetalle .detalleServicio img {
        display: none;
    }
    .main-views .contenedorDetalle .detalleServicio .div-detalle h1 {
        padding-top: 2rem;
        padding-bottom: 1rem;
    }
    .main-views .contenedorDetalle .detalleServicio .div-detalle p {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .main-form .form .consulta {
        flex-direction: column;
    }
    .main-form .form .consulta input {
        width: 90%;
    }
    .main-form .form .consulta .dejanos {
        width: 90%;
    } 
}
@media screen and (max-width: 900px) {
    .main-views .contenedorDetalle .detalleServicio .div-detalle h1 {
        padding: 1rem;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .main-views .contenedorDetalle .detalleServicio .div-detalle p {
        padding: 2rem;
        padding-top: 1rem;
        padding-bottom: 0.5rem; 
    }
    .main-views .contenedorDetalle {
        margin-top: 3rem;
    }
    .main-form .form .consulta {
        margin: 2rem;
    }
}
.contenido .detalle .div-detalle {
    height: none;
}
@media screen and (max-width: 800px) {
    .contenido .detalle .div-detalle a h1 {
        font-size: 2rem;
    }
    .contenido .detalle .div-detalle p {
        font-size: 1rem;
    }
    .main-form .form .consulta input {
        width: 80%;
    }
    .main-form .form .consulta .dejanos {
        width: 80%;
    } 
}
@media screen and (max-width: 750px) {
    .contenido .detalle .div-detalle a h1 {
        font-size: 2rem;
    }
    .contenido .detalle .div-detalle p {
        font-size: 1rem;
    }
    .main-form .form .consulta .dejanos {
        padding: 2rem;
    }
    .main-form .form {
        margin: 0;
        width: 100%;
    }
    .contenido .detalle .div-detalle {
        height: auto;
    }
    .contenido .detalle .div-detalle-servicios .serviciopages {
        padding: 0;
        font-size: 2.5rem;
    }
    .contenido .detalle .div-detalle-servicios .testimonio {
        width: 90%;
    }
}
@media screen and (max-width: 500px) {
    header nav {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .main-views .contenedorDetalle {
        width: 100%;
    }
    .main-views .contenedorDetalle .detalleServicio {
        width: 100%;
        padding-bottom: 0;
        margin-bottom: 1rem;
    }
    .main-views .contenedorServicios .tarjetaServicioContainer .tarjetaServicio img{
        width: 100%;
    }
    .main-views .contenedorDetalle .detalleServicio .div-detalle h1 {
        font-size: x-large;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
    .main-views .contenedorDetalle .detalleServicio .div-detalle p {
        line-height: 1rem;
        padding-bottom: 0;
        margin-bottom: 0;
    }
    .contenido {
        margin: 0;
        padding: 0;
    }
    .contenido .detalle {
        padding-bottom: 2rem;
    }
    .contenido .detalle .div-detalle a h1 {
        padding: 1rem;
    }
    .contenido .detalle .div-detalle p {
        padding: 1rem;
        padding-top: 0;
        line-height: 1.2;
    }
    .contenido .catalogo .tarjeta {
        width: 330px;
        height: 330px;
    }
    .contenido .catalogo .tarjeta a .ver-mas {
        position: absolute;
        top: 80%;
        left: 50%;
    }
    .contenido .about p {
        line-height: 1.2;
    }
    .main-form .form .consulta input {
        font-size: small;
    }
    .main-form .form .consulta .dejanos {
        padding: 1rem;
        font-size: small;
    }
    .contenido .detalle .div-detalle-servicios .serviciopages {
        font-size: 2rem;
    }
}
@media screen and (max-width: 290px) {
    .contenido {
        margin: 0;
        padding: 0;
    }
    .main-views .contenedorDetalle {
        width: 90%;
    }
    .main-views .contenedorDetalle .detalleServicio {
        width: 90%;
        margin-bottom: 1rem;
    }
    .contenido .catalogo .tarjeta {
        width: 280px;
        height: 280px;
    }
}