$colores:
#302303,
#6452AC,
white,
aliceblue,
#f7b2c1;


@mixin flex ($flex, $direction, $justify, $align) {
    display: $flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
